/* You can add global styles to this file, and also import other style files */
:root {
    --primary-pink: #FFD0FB;
    --primary-light: #FFFFFF;
    --secondary-purple: #A52BB7;
}

* {
    box-sizing: border-box;
    position: relative;
}

.h-full {
    height: 100%;
}

.mr-8 {
    margin-right: 8px;
}

.d-f {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.b {
    font-weight: bold;
}

// 

.control-block {
    background-color: var(--secondary-purple);
    border-radius: 8px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        top: 6px;
        bottom: 6px;
        left: 6px;
        right: 6px;
        background: no-repeat center center/contain;
        filter: invert(100%);
    }
    &.add::after {
        background-image: url('/icons/add.png');
    }
    &.delete::after {
        background-image: url('/icons/trash-can.png');
    }
    &.pause::after {
        background-image: url('/icons/pause.png');
    }
    &.play::after {
        background-image: url('/icons/play.png');
    }
}