.digits {
    line-height: 34px;
    font-weight: bold;
    font-size: 20px;
}

.digit-block {
    background-color: var(--primary-pink);
    border-radius: 8px;
    width: 34px;
    text-align: center;
    margin: 0 3px;
    &:first {
        margin-left: 0;
    }
}