<div class="control-bar d-f justify-between align-center">
    <div class="sorter">
        <span class="b">Sort:</span>
        <span class="sort-option" [ngClass]="{ active: sortDir == 'asc' }" (click)="setSortDirAsc()">asc</span>
        <span class="sort-option" [ngClass]="{ active: sortDir == 'desc' }" (click)="setSortDirDesc()">desc</span>
    </div>
    <div class="control-block add" (click)="onTimerAdd()"></div>
</div>

<div class="timers-wrapper">
    @for (timer of sortedTimers; track timer.id) {
        <app-timer [seconds]="timer.seconds" [isPaused]="timer.isPaused" (toggle)="onTimerToggle(timer.id, $event)" (delete)="onTimerDelete(timer.id)"></app-timer>
    } @empty {
        <div class="empty-timer-list">
            No timers found!
        </div>
    }
</div>